@model List<Product>


@foreach (Product product in Model)
{
    <a><b>@product.Name </b></a>
    <input type="button" onclick="location.href='/Admin/Edit?_id=@product.id';" value="EDIT" />
    <input type="button" onclick="location.href='/Admin/Delete?_id=@product.id';" value="DELETE" />
    <br />
    <br />
}

<br />
<br />
<a href="/Admin/Add"><b>ADD NEW ITEM</b></a>

